
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&family=Nunito:wght@300;500&display=swap');


$font-1 :'Josefin', 'Nunito', sans-serif ;


*{
    box-sizing:border-box;
}

body{
    font-family:$font-1;
}